{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <br>
            <form action="/updateLeaves" method="POST">
                "Enter Number of leaves"
                
                <br>
                <input type = 'number' name='leaves'>
                <br>
                <br>
                <button  type="submit" class="btn btn-primary">Set Leaves</button>
            </form>
            <br>
            <br>
            <br>
            <a href = "/clearPath" > clear earlier path For Faculties </a>
            <br><br>
            <form action="/setPath" method = "POST">
                <select name="pathmember">
                    
                    <option value="HOD">HOD</option>
                    <option value="A_DEAN">Associate Dean</option>
                    <option value="DEAN">Dean</option>
                    <option value="DIRECTOR">Director</option>
                </select>
                <br><br>
                <input type="submit">
            </form>
            <br>
            <br>
            <br>
            <a href = "/clearPathCrossFaculty" > clear earlier path For HOD and Cross Faculty </a>
            <br><br>
            <form action="/setPathForCrossFaculty" method = "POST">
                <select name="pathmember"> 
                    <option value="HOD">HOD</option>
                    <option value="A_DEAN">Associate Dean</option>
                    <option value="DEAN">Dean</option>
                    <option value="DIRECTOR">Director</option>
                </select>
                <br><br>
                <input type="submit">
            </form>
            <br>
            <br>
            <br>
            Select Cross Faculties and Hods
            <form action="/setCrossFaculty" method = "POST">
                <select name="designation">
                    <option value="HODCSE">HODCSE</option>
                    <option value="HODME">HODME</option>
                    <option value="HODEE">HODEE</option>
                    <option value="A_DEAN">Associate Dean</option>
                    <option value="DEAN">Dean</option>
                    <option value="DIRECTOR">Director</option>
                    
                </select>
                <br><br>
                
                <input type = "email"  name = "email" >
                <br><br>
                <button  type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}