{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <br>

            <h1> WELCOME !!</h1>
            <br>
            <h2>{{ data['name'] }}</h2>
            <br>
            <br>

            <form method="POST" action="/setBio">
                <h5>BIOGRAPHY</h5>
                <textarea name="biography" rows="10" cols="100" {% if not data['editflag'] %} readonly
                    {% endif %}>{{ data['biography'] }}</textarea>
                {% if data['editflag'] %}
                <button type="submit" class="btn btn-primary">Save</button>
                {% endif %}
            </form>
            <br>
            <form method="POST" action="/Projects">
                <h5>{{ "projects"}}</h5>
                <textarea name="projects" rows="10" cols="100" {% if not data['editflag'] %} readonly
                    {% endif %}>{{ data['projects'] }}</textarea>
                {% if data['editflag'] %}
                <button type="submit" class="btn btn-primary">Save</button>
                {% endif %}
            </form>
            <br>

            <form method="POST" action="/ResearchOutput">
                <h5>{{ "ResearchOutput"}}</h5>
                <textarea name="research" rows="10" cols="100" {% if not data['editflag'] %} readonly
                    {% endif %}>{{ data['research'] }}</textarea>
                {% if data['editflag'] %}
                <button type="submit" class="btn btn-primary">Save</button>
                {% endif %}
            </form>
            <br>

            <form method="POST" action="/Prizes">
                <h5>{{ "Prizes"}}</h5>
                <textarea name="prizes" rows="10" cols="100" {% if not data['editflag'] %} readonly
                    {% endif %}>{{ data['prizes'] }}</textarea>
                {% if data['editflag'] %}
                <button type="submit" class="btn btn-primary">Save</button>
                {% endif %}
            </form>
            <br>
            <br>
            <br>
            <br>
            {{"Email : "}}
            <a href="{{  data['email'] }}"> {{data['email'] }}</a>
            <br>
            <br>
            <br>
            <br>
            {% if data['editflag'] %}
            
            <br><br>
            Leaves Remaining This Year
            <br>
            {{ data['leaves_current_year']}}
            <br><br>
            Leaves Remaining For Next Year
            <br>
            {{ data['leaves_next_year']}}
            <br><br>
            {% if not data['pendingLeave'] %}
            <form method="POST" action="/generateLeave">
                <h4>{{ "Reason For Leave"}}</h4>
                <br><br>
                <textarea name="reason" rows="10" cols="100"></textarea>
                <br><br>
                <input type = "number" name = "nb_leaves"> Input Number of leaves </input>
                <br><br>
                <button type="submit" class="btn btn-primary">Submit Application</button>
            </form>
            <br><br>
            {% else %}
            <h4> Your Pending Leave Id is :</h4>
            <br><br>
            <a href="/detailsofleaveid/{{data['pendingLeaveid']}}">{{data['pendingLeaveid']}}</a>
            <br><br>
            {% endif %}
            {% if data['specialPortal'] %}
            <a class="btn btn-primary" href="/specialPortal">
                click here to check and approve pending leaves
            </a>
            {% endif %}
            {% if data['sentBackForReview'] %}
            <br><br>
            Check Reviews on your Leave
            <br><br>
            <a href="detailsofleaveid/{{data['sentBackForReviewId']}}">{{data['sentBackForReviewId']}}</a>
            <br>
            <form method="POST" action="/sendBackAgain">
                <h4>{{ " Update Reason "}}</h4>
                <br><br>
                <textarea name="reason" rows="10" cols="100">{{data['reason']}}</textarea>
                <input type="hidden" name="sendBackById" value="{{ data['sendBackById'] }}"/>
                <input type="hidden" name="leave_id" value="{{ data['sentBackForReviewId'] }}"/>
                <br><br>
                <button type="submit" class="btn btn-primary">Send Back Again</button>
            </form>
            {% endif %}
            {% endif %}

        </div>




    </div>
</div>

{% endblock %}