{% extends "base.html" %}
{% block content %}
<br>
Fid of applicant
<br>
{{data['applicant_id']}}
<br>
<br>
Reason For application
<br>
{{data['reason']}}
<br><br>
Comments by concerned verifiers
<br>
Status to applicant <br>
{{ data['status_shown_to_applicant'] }}
<br>
<br>
<ol>
    {% for x in data['leave_details_to_verifier'] %}

    <li>
        Faculty Id <br>
        {{ x[0] }}
        <br>
        Position Level <br>
        {{ x[1] }}
        <br>
        Comments <br>
        {{ x[2] }}
        <br>
        Status <br>
        {{ x[3] }}
        <br>
        
    </li>
    <br>

    {% endfor %}
    
</ol>

<form method="POST" action="/getResponseAccept">
    <br>
    {% if data['borrow_by_applicant'] > 0 %}
        Applicant is borrwowing {{data['borrow_by_applicant']}} number of leaves from next year
        <br><br>
    {% endif %} 
    {% if data['leave_details_review'][0]  != -1 %}
        Following is the review sent by applicant :
        <br>
        {{data['leave_details_review']}}
        <br><br>
    {% endif %} 
    <h4>{{ "Comments"}}</h4>
    <br><br>
    <textarea name="comment" rows="10" cols="100"></textarea>
    <input type="hidden" name="leave_id" value="{{ data['leave_id'] }}"/>
    <input type="hidden" name="applicant_id" value="{{ data['applicant_id']}}"/>
    <input type="hidden" name="nb_current_leaves" value="{{ data['nb_current_leaves']}}"/>
    <input type="hidden" name="nb_borrow_leaves" value="{{ data['borrow_by_applicant']}}"/>
    <br><br>
    <button type="submit" class="btn btn-primary">Accept and Forward</button>
    <button type="submit" class="btn btn-primary" method = "POST" formaction="/getResponseRejected">Reject </button>
    <button type="submit" class="btn btn-primary"  method = "POST" formaction="/getResponseReview">Submit Back For Review </button>
</form>
{% endblock %}