{% extends "base.html" %}
{% block content %}
<br>
Fid of applicant
<br>
{{data['applicant_id']}}
<br>
<br>
Reason For application
<br>
{{data['reason']}}
<br><br>
Comments by concerned verifiers
<br>
Status to applicant <br>
{{ data['status_shown_to_applicant'] }}
<br>
<br>
<ol>
    {% for x in data['leave_details_to_verifier'] %}

    <li>
        Faculty Id <br>
        {{ x[0] }}
        <br>
        Position Level <br>
        {{ x[1] }}
        <br>
        Comments <br>
        {{ x[2] }}
        <br>
        Status <br>
        {{ x[3] }}
        <br>
        
    </li>
    <br>

    {% endfor %}
    
</ol>

<form method="POST" action="/getResponseAccept">
    <h4>{{ "Comments"}}</h4>
    <br><br>
    <textarea name="comment" rows="10" cols="100"></textarea>
    <input type="hidden" name="leave_id" value="{{ data['leave_id'] }}"/>
    <input type="hidden" name="applicant_id" value="{{ data['applicant_id']}}"/>
    <br><br>
    <button type="submit" class="btn btn-primary">Accept and Forward</button>
    <button type="submit" class="btn btn-primary" method = "POST" formaction="/getResponseRejected">Reject </button>
    <button type="submit" class="btn btn-primary"  method = "POST" formaction="/getResponseReview">Submit Back For Review </button>
</form>
{% endblock %}