{% extends "base.html" %}
{% block content %}
<br>
<h4>Name of the applicant</h4>
<br>
{{data['name_applicant'][0]}}
<br>
<br>
<h4>Reason For application</h4>
<br>
{{data['reason']}}
<br><br>
<h4>From {{data['time_of_generation_applicant']}} to {{data['end_date_leave']}} </h4>
<br>
<br>
<h4>Status of applicant_leave</h4> <br>
{% if data['status_shown_to_applicant'] == 0 %}
<h4>Rejected</h4>
{% elif data['status_shown_to_applicant']== 1 %}
<h4>Pending</h4>
{% elif data['status_shown_to_applicant']== 2 %}
<h4>Accepted</h4>
{% else %}
<h4>Sent Back For reveiw</h4>
{% endif %}
<br>
<br>
<ol>
    {% for x in data['leave_details_to_verifier'] %}

    <li>
        <h4>Name of faculty</h4>
        <h4>{{x[5]}}</h4>
        <br>
        
        <br>
        <h4>Comments</h4>
        <br>
        {{ x[2] }}
        <br>
        {% if x[3] == 0 %}
        <h4>Rejected</h4>
        {% elif x[3]== 1 %}
        <h4>Pending</h4>
        {% elif x[3]== 2 %}
        <h4>Accepted</h4>
        {% else %}
        <h4>Sent Back For reveiw</h4>
        {% endif %}
        <br>
        
    </li>
    <br>

    {% endfor %}
    
</ol>
<form method="POST" action="/getResponseAccept">
    <br>
    {% if data['borrow_by_applicant'] > 0 %}
        Applicant is borrwowing {{data['borrow_by_applicant']}} number of leaves from next year
        <br><br>
    {% endif %} 
    {% if data['leave_details_review'][0]  != -1 %}
        Following is the review sent by applicant :
        <br>
        {{data['leave_details_review']}}
        <br><br>
    {% endif %} 
    <h4>{{ "Comments"}}</h4>
    <br><br>
    <textarea name="comment" rows="10" cols="100"></textarea>
    <input type="hidden" name="leave_id" value="{{ data['leave_id'] }}"/>
    <input type="hidden" name="applicant_id" value="{{ data['applicant_id']}}"/>
    <input type="hidden" name="nb_current_leaves" value="{{ data['nb_current_leaves']}}"/>
    <input type="hidden" name="nb_borrow_leaves" value="{{ data['borrow_by_applicant']}}"/>
    <br><br>
    <button type="submit" class="btn btn-primary">Accept and Forward</button>
    <button type="submit" class="btn btn-primary" method = "POST" formaction="/getResponseRejected">Reject </button>
    <button type="submit" class="btn btn-primary"  method = "POST" formaction="/getResponseReview">Submit Back For Review </button>
</form>
{% endblock %}